**********************
Business Requirements
**********************

Login/Signup
============

#. User will be able to login to system using Callfixie specific cred (Rel 1.0) or Facebook/google/3rd Party Website creds (Rel 2.0).
#. User will not be required to enter details until he raises a job/confirms it. (Rel 1.0)

Notifications 
=============

User 
-----
#. New Quotes for posted Jobs. (Rel 1.0)
#. Ques Ans responses. (Rel 1.0)
#. Payment events. (Rel 1.0)

Tradie
------
#. New Jobs Suitable for given Profile and Location. (Rel 1.0)
#. Ques Ans responses (Rel 2.0)
#. payment events (Rel 1.0)


Job Posting
=============

#. Location Information (Rel 1.0)
#. Category [ plumber, gardener ] (Rel 1.0)
#. Price Range (Rel 1.0)
#. Time Range (Rel 2.0)
#. Tradie Eligibility (Rel 2.0)
#. Viewability , making a job private ( Rel 2.0 )
#. User Account should provide credit card details before accepting a Job (Rel 1.0).
#. Questions Answers on Job ( Rel 2.0) 
#. user should be able to cancel/update Job until it have received  a Quote . if a quote is received it will be obsoleted. if Job is approved its Critical information cannot be updated. Job can be cancelled at any point of time. Job cancelled after tradie have started working on it will go to dispute resolution department and refunds will be done by administration .(Rel 1.0)
#. Quotes on a job can be seen by other tradies. ( Rel 1.0)
#. user can see all quotes on Jobs. (Rel 1.0)
#. Attachments ( images Rel 1.0 )( audio, Video Rel 2.0)
#. Contract-Type ( Rel 1.0 )

Quotes
========
#. Description (Rel 1.0)
#. Attachments ( images Rel 1.0)( Audio,Video Rel 2.0)                                                                                                                                         
#. Tradie should be eligible by criterias set by Job Owner to quote. ( Rel 2.0 )
#. Tradies can view jobs they are not eligible for. ( Rel 1.0 )

Profiles
=========

#. Can be deactivated by User. ( Rel 1.0 )

User  
------

#. profile will not be visible to public (Rel 1.0)

Tradie
--------

#. New Profiles need to be approved by Customer care ( Rel 1.0)
#. Profile will be skill,Location specific ( Rel 1.0 )
#. Reviews ( Rel 2.0)
#. Past Jobs,Feedback ( Rel 2.0)
#. Travel distance, areas Served ( Rel 2.0)

Administration
===============
#. Approve a new tradie profile ( Rel 1.0 )
#. Dispute resolution.(Rel 1.0)
#. Complete logging of admin accounts. (Rel 1.0)
#. edit of all fields except payments. (Rel 1.0)
#. CustomerCare can create a job on behalf of user (Rel 2.0)

Payments
=========

payments will be handled as 

#. [ Callfixie %] upfront [#]_ and rest of the amount between Tradie and User themselves. (Rel 1.0)
#. Full amount upfront and refund in case of unsatisfactory work. (Rel 1.0).100 % deduction from user on job approval.

.. rubric:: Footnotes
.. [#] for Hourly/continuous jobs this will be upfront amount decided by user.

.. toctree::
   :maxdepth: 2
   :numbered:
